Temp/
Logs/
Library/
Packages/
UserSettings/
obj/
.vs/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
EditorMigrationScripts.csproj
LeanCommon.csproj
LeanPool.csproj
NaughtyAttributes.Core.csproj
NaughtyAttributes.Editor.csproj
NaughtyAttributes.Test.csproj
New-MagicBookAR.sln
Assets/Resources/Files/Video/fotosintesis.mp4
Assets/Resources/Files/Video/fotosintesis.mp4.meta
*.mp4
Assets/Resources/Files/Video/energi.mp4.meta
